.coloring-page-slider {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	.slider-container {
		margin: 20px auto;
		width: 100%;
		max-width: 720px;
		.coloring-slider {
			.slick-slide{
				display: block;
				.coloring-slide {
					display: block;
					position: relative;
					text-align: center;
					text-decoration: none;
					opacity: 0.72;
					cursor: pointer;
					img {
						display: block;
						margin: 0 auto;
						position: relative;
					}

					&.curr-image, &:hover {
						opacity: 1;
					}
				}
			}
		}
		.slick-slider {
			position: relative;
			display: block;
			box-sizing: border-box;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-touch-callout: none;
			-khtml-user-select: none;
			-ms-touch-action: pan-y;
			touch-action: pan-y;
			-webkit-tap-highlight-color: transparent;
		}
		.slick-list,
		.slick-track {
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			-o-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
		.slick-list {
			position: relative;
			display: block;
			overflow: hidden;
			margin: 0;
			padding: 0;
			&:focus {
				outline: none;
			}
			&.dragging {
				cursor: pointer;
				cursor: hand;
			}
		}
		.slick-track {
			position: relative;
			top: 0;
			left: 0;
			display: block;
			&:before,
			&:after {
				display: table;
				content: '';
			}
			&:after {
				clear: both;
			}
		}
		.slick-loading {
			.slick-track {
				visibility: hidden;
			}
			.slick-slide {
				visibility: hidden;
			}
		}
		.slick-slide {
			display: none;
			float: left;
			height: 100%;
			min-height: 1px;
			img {
				display: block;
			}
			&.slick-loading img {
				display: none;
			}
			&.dragging img {
				pointer-events: none;
			}
		}
		[dir='rtl'] .slick-slide {
			float: right;
		}
		.slick-initialized .slick-slide {
			display: block;
		}
		.slick-vertical .slick-slide {
			display: block;
			height: auto;
			border: 1px solid transparent;
		}
		.slick-arrow.slick-hidden {
			display: none;
		}
		.slick-prev,
		.slick-next {
			font-size: 0;
			line-height: 0;
			position: absolute;
			top: 43%;
			display: block;
			width: 50px;
			height: 70px;
			padding: 0;
			z-index: 1;
			-webkit-transform: translate(0, -50%);
			-ms-transform: translate(0, -50%);
			transform: translate(0, -50%);
			cursor: pointer;
			color: transparent;
			border: none;
			outline: none;
			background: transparent;
			&:hover,
			&:focus {
				color: transparent;
				outline: none;
				background: transparent;
				&:before,
				&:after {
					opacity: 1;
				}
			}
			&.slick-disabled {
				&:before,
				&:after {
					opacity: 0.25;
				}
			}
			&:before,
			&:after {
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: '';
				position: absolute;
				background-color: #ffffff;
				height: 2px;
				width: 40px;
				margin: 0 auto;
				left: 0;
				right: 0;
				opacity: 0.8;
			}
		}
		.slick-prev {
			left: 0;
			&:before {
				transform: rotate(-40deg);
				top: 21px;
			}
			&:after {
				transform: rotate(40deg);
				bottom: 22px;
			}
		}
		[dir='rtl'] .slick-prev {
			right: 0;
			left: auto;
			&:before {
				transform: rotate(40deg);
				top: 21px;
			}
			&:after {
				transform: rotate(-40deg);
				bottom: 22px;
			}
		}
		.slick-next {
			right: 0;
			&:before {
				transform: rotate(40deg);
				top: 21px;
			}
			&:after {
				transform: rotate(-40deg);
				bottom: 22px;
			}
		}
		[dir='rtl'] .slick-next {
			right: auto;
			left: 0;
			&:before {
				transform: rotate(-40deg);
				top: 21px;
			}
			&:after {
				transform: rotate(40deg);
				bottom: 22px;
			}
		}
	}

	@media screen and (max-width: 1054px) {
		margin-top: 120px;
	}

	@media screen and (max-width: 768px) {
		margin-top: 80px;
	}
	@media screen and (max-width: 420px) {
		.slider_container {
			.slick-list {
				margin: 0 -30px;
			}
		}
	}
}